body {
	/*background: linear-gradient(to bottom right, #192a56, #40739e);*/
	background: #192a56;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	padding-bottom: 20px;
}

.wrapper {
	padding: 100px 5%;
	width: 100%;
	box-sizing: border-box;
	border-radius: 20px;
}

.card {
	position: relative;
	width: 500px;
	border-radius: 3px;
	background-color: #f5f6fa;
	padding: 20px 40px;
}

.center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.text-center {
	text-align: center;
}